* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cartAddManager {
	width: 100%;
	padding-right: 5px;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
}

.controler {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.minus, .plus {
	font-weight: 500;
	color: var(--orage);
	font-size: 20px;
	cursor: pointer;
	user-select: none;
}

.addToCart {
	background-color: var(--orage);
	color: var(--white);
	width: 60%;
	padding-right: 3px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-weight: 500;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.addToCart:focus {
	outline:  2px solid var(--orage);
	outline-offset: 2px;
}

.addToCart img {
	color: var(--white);
}

.quantityOnCart {
  bottom: 30px;
  left: 10px;
  font-size: 11px;
  display: block;
  width: 20px;
  border-radius: 10px;
  position: absolute;
  color: var(--white);
  background-color: var(--orage);
}