* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.imageViewer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.currentImage {
	height: calc(80% - 10px);
	display: block;
	width: 400px;
	height: 400px;
	background-color: var(--orage);
	border-radius: 10px;
	overflow: hidden;
}

.currentImage img {
	width: 100%;
	height: 100%;
}

.imageNavegation {
	height: calc(20% - 10px);
	display: flex;
	gap: 10px;
}

.imageThumbnail {
	cursor: pointer;
	border-radius: 10px;
	overflow: hidden;
	height: 92.5px;
	width: 92.5px;
}

.imageThumbnail:hover {
	opacity: 0.7 !important;  /* to not stop after redifine with js*/
}

.imageThumbnail img {
	width: 100%;
	height: 100%;
}