* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:  70px;
}

.logo {
  font-size: 30px;
  cursor: pointer;
}

a {
  display: flex;
  text-decoration: none;
  color: inherit;
  align-items: center;
}

.container {
  width: calc(90vw - 100px);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

header::after {
  content: "";
  position: absolute;
  display: block;
  width: inherit;
  height: 1px;
  top: 70px;
  opacity: .5;
  background-color: var(--dark-grayish-blue);
}

.left,
.right {
  display: flex;
  gap: 40px;
  align-items: center;
}

nav ul li {
  list-style: none;
  cursor: pointer;
  color: var(--dark-grayish-blue);
}

nav ul li.active {
  /**/
}

nav ul li.active::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  top: 25px;
  background-color: var(--orage);
}

nav ul li:hover::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  top: 25px;
  opacity: .2;
  background-color: var(--orage);
}

nav ul li:hover {
  color: var(--dark-blue);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 25px;
}

.cart {
  cursor: pointer;

}


.profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--orage);
  cursor: pointer;
}

.profile img {
  width: 100%;
  height: 100%;
}

.homeContainer {
  position: relative;
  width: calc(100% - 100px)
  left: 50px;
  right: 50px;
  display: flex;
  justify-content: space-between;
}